.cart {
    width: 140px;
    height: 200px;
    background-image: url("../../img/kart.jpg");
    background-size: cover;
    margin-top: 50px;
}
.open-carts {
    float: right;
    margin: 10px;
}
.new-cart {
    float: right;
    margin: 10px;
}