<div class="row">
    <div class="col-md-12">
        <div class="col-md-2 col-md-offset-6">
            <div class="cart">
                {{firstcart}}
            </div>
        </div>

        <div class="col-md-2">
            <div class="cart">
                {{secondcart}}
            </div>
        </div>
            <button type="button" class="btn btn-default new-cart" (click)="getNewCart(total)">+</button>

            <button class="btn btn-default open-carts" (click)="openCarts()">Open</button>
            {{total}}
        <div >
        </div>
    </div>
</div>

