<div class="row">
    <div class="col-md-12">
        <div class="col-md-2 col-md-offset-6">
            <div class="cart">
                {{firstcart}}
            </div>
        </div>

        <div class="col-md-2">
            <div class="cart">
                {{secondcart}}
            </div>
        </div>
            <button type="button" class="btn btn-default" (click)="button" style="float: right;
    margin: 10px;">+</button>

            <button type="button" class="btn btn-default" (click)="button" style="float: right;
    margin: 10px;">open</button>
    </div>
</div>

<div >
    {{total}}
</div>