<div class="row">
    <div class="col-md-12">
        <div class="col-md-2 col-md-offset-6">
            <div class="cart">
                {{firstcart}}
            </div>
        </div>

        <div class="col-md-2">
            <div class="cart">
                {{secondcart}}
            </div>
        </div>
            <button type="button" class="btn btn-default" (click)="getNewCart(total)" style="float: right;
    margin: 10px;">+</button>

            <button class="btn btn-default" (click)="openCarts()" style="float: right;
                margin: 10px;">Open</button>
        <div >
            <h3>{{Loser}}</h3> {{total}}
        </div>
    </div>
</div>

