<div class="row" style="padding-top: 50px">
    <div class="col-md-4 col-md-offset-4">
        <form (ngSubmit)="loginUser()">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">OK</button>
        </form>
    </div>
</div>
<div *ngIf="isLoginFailed">
    <h1>Login error</h1>
</div>