.register {
    padding-top: 50px
}
.send {
    text-align: center;
    display: block;
    width: 100%;
    background-color: #3033FF;
    color: #fff;
}
.send:hover {
    background-color: #53BF23;
    color: #fff;
}
.redirect {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #3033FF;
    color: #fff;
}
.redirect:hover {
    background-color: #53BF23;
    color: #fff;
}