
<div class="row register">
    <div class="col-md-4 col-md-offset-4" >
        <h1>Sign Up</h1>
        <form (ngSubmit)="registerUser()">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default send">Send</button>
            <button type="button" class="btn btn-default redirect" (click)="loginUser()">Sign In</button>
        </form>
    </div>
</div>
<div *ngIf="isLoginFailed">
    <h1>Login error</h1>
</div>
